<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ConnectionString"
     providerName="Microsoft.Data.SqlClient"
     connectionString="Server = localhost; Database = Production; Trusted_Connection = True; Integrated Security = True;" />
  </connectionStrings>
</configuration>
